<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>677303892936-0he0ajme0cktu8mvoultrgmosje1j49r.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBGiPStibHYSA_AF1tpFTDHZpydc__hFJg</string>
	<key>GCM_SENDER_ID</key>
	<string>677303892936</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.userwasil</string>
	<key>PROJECT_ID</key>
	<string>wasilapp-e7679</string>
	<key>STORAGE_BUCKET</key>
	<string>wasilapp-e7679.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:677303892936:ios:312662cfc77aa50be01efd</string>
</dict>
</plist>